#app {
  display: flex;
}

aside {
  width: 200px;
  height: 100vh;
  overflow-y: auto;
  background-color: #304156;

  .slogan {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 80%;
    }
  }

  > #dynamic_menu {
    width: 100%;
    margin-top: 40px;

    > a {
      width: 100%;
      height: 40px;
      justify-content: center;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      color: white;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &.active {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

main {
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - 200px);
  height: 100vh;
  overflow-x: auto;
  background-color: #f0eeee;

  .user_info {
    width: 100%;
    display: flex;
    border-radius: 5px;
    background-color: white;

    .left {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 80px;
        border-radius: 50%;
      }
    }

    .right {
      width: 50%;
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 50%;
        height: 40px;
        display: flex;
        align-items: center;
      }
    }
  }

  .actions {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .edit_info {
    > div {
      margin-bottom: 10px;

      label {
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  .collection_article_all {
    border-radius: 5px;
    margin-top: 20px;
    background-color: #f0eeee;

    > p {
      margin-bottom: 5px;
      font-size: 15px;
    }

    .article_list {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .item {
        box-sizing: border-box;
        width: 33.33%;
        display: flex;
        padding: 20px;

        .left {
          width: 30%;

          img {
            width: 100%;
          }
        }

        .right {
          box-sizing: border-box;
          width: 70%;
          padding-left: 10px;

          p {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.collection_table {
  width: 100%;
  border-spacing: 1px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #a0b1c5;

  thead {
    //background-color: #26c6da;
    //margin-top: 20px;

    tr {
      color: #333;
      font-weight: 600;
      height: 50px;
      background-color: white;

      th {

      }
    }
  }

  tbody {
    tr {
      height: 40px;
      font-size: 14px;
      transition: all 0.3s;

      td {
        text-align: center;

        a {
          color: #304156;
        }
      }

      .select {
        input {
          cursor: pointer;
        }
      }

      .tags {
        i {
          margin-right: 5px;
          padding: 0 5px;
          color: white;
          border-radius: 5px;
          font-size: 12px;
          height: 20px;
          display: inline-flex;
          align-items: center;
        }

        i:nth-child(4n) {
          background-color: #ff9800;
        }

        i:nth-child(4n+1) {
          background-color: #dd6161;
        }

        i:nth-child(4n+2) {
          background-color: #26c6da;
        }

        i:nth-child(4n+3) {
          background-color: #3a8ee6;
        }

        i:last-child {
          margin-right: 0;
        }
      }
    }

    tr:nth-of-type(odd) {
      background-color: #f6f7fa;

      &:hover {
        background-color: #e3e6ee;
      }
    }

    tr:nth-of-type(even) {
      background-color: #fff;

      &:hover {
        background-color: #eceff5;
      }
    }
  }
}

.cancel_btn {
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #f0eeee;
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: #666d83;
}
